<div class="navbar">
  <!-- toggle menu button -->
  <div class="sidebar-toggle" [ngClass]="{
      closed: isOpen,
      'education-fill education-border': prefix === 'education',
      'forestry-fill forestry-border': prefix === 'forestry'
    }" (click)="toggleMenu()">
    <span class="sidebar-toggle__icon">
      <svg-icon id="tree-light" [ngClass]="{
          closed: isOpen,
          'education-fill': prefix === 'education',
          'forestry-fill': prefix === 'forestry'
        }" src="assets/images/{{ isOpen ? 'tree-light' : 'tree-gradient' }}.svg">
      </svg-icon>
    </span>
    <span class="sidebar-toggle__text">{{
      isOpen ? " תפריט" : " סגור תפריט"
      }}</span>
  </div>
  <p class="worker-position">מנהלת ספר נכסים</p>

  <!-- main navbar links -->
  <!-- <div class="project-status">
    <div class="project-status__item" *ngFor="let item of status">
      <div class="project-status__item-badge" [ngClass]="{
          'badge-education': prefix === 'education',
          'badge-forestry': prefix === 'forestry'
        }" matBadgeOverlap matBadge="{{ item.count }}"></div>

      <div class="project-status__item-icon">
        <div class="icon-container">
          <app-icon [color]="'default'" type="svg" [key]="item.svgUrl"></app-icon>
        </div>
      </div>
      <span class="project-status__item-text">{{ item.text }}</span>
    </div>
  </div> -->

  <!-- left side logo -->
  <a routerLink="/" class="left-logos">
    <svg-icon class="left-logo-years" src="assets/images/left-logo-years-new.svg">
    </svg-icon>
    <svg-icon src="assets/images/left-logo.svg"></svg-icon>
  </a>
</div>
