<div [formGroup]="form" class="form-group" [ngStyle]="{ 'grid-column': question.cols }">
  <label class="form-group__label" [attr.for]="question.key"
    [ngStyle]="{ visibility: question.label == 'hide' ? 'hidden' : 'visable' }">{{ question.label }}</label>


  <div [ngSwitch]="question.controlType">
    <input *ngSwitchCase="'textbox'" class="form-group__input" [formControlName]="question.key" [id]="question.key"
      [type]="question.type" />

    <p *ngSwitchCase="'offset'"></p>

    <select [id]="question.key" *ngSwitchCase="'select'" class="form-group__input" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">
        {{ opt.value }}
      </option>
    </select>

    <div *ngSwitchCase="'number'">
      <p>{{ question.label }}</p>
      <input type="number" class="form-group__input number-input" [formControlName]="question.key" [id]="question.key"
        [type]="question.type" />
    </div>

    <div *ngSwitchCase="'date'">
      <p>{{ question.label }}</p>
      <input type="date" class="form-group__input " [formControlName]="question.key" [id]="question.key" />
    </div>

    <div class="radio-input" *ngSwitchCase="'radio'">
      <div *ngFor="let opt of question.options">
        <input type="radio" [id]="question.key" [formControlName]="question.key" [value]="opt.value"
          [name]="question.key" />
        <label for="{{ question.key }}">{{ opt.value }}</label>
      </div>
    </div>

    <textarea *ngSwitchCase="'textarea'" cols="12" rows="4" class="form-group__input" [id]="question.key"
      [formControlName]="question.key"></textarea>
  </div>

  <div class="errorMessage" *ngIf="!isValid">
    {{ question.label }} is required
  </div>
</div>
