.property-control {
    height: calc(100% - 90px);
    overflow: auto;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
.content_1 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    svg {
        margin: 0 10px 0 10px;
    }
}
.content_2 {
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;
    .button-svg {
        background: #ffffff;
        margin: 10px;
        border: none;
        width: 50px;
        height: 50px;
        box-shadow: 0px 6px 15px #00000029;
        border-radius: 4px;
        opacity: 1;
    }
}
.button-text {
    background: #ffffff;
    margin: 10px;
    border: none;
    width: 124px;
    height: 50px;
    box-shadow: 0px 6px 15px #00000029;
    border-radius: 4px;
    opacity: 1;
    font-family: "open sans hebrew";
    src: url("../../../assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf");
    font-size: 16px;
    color: #e0ba75;
}
.content-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

svg .a {
    fill: #e0ba75;
}
::ng-deep .working-steps {
    width: 50% !important;
    margin: auto !important;
    flex-direction: row-reverse;
    border-bottom: none !important;
    .chosen {
        background: #d6a348 !important;
    }
    .chosen__text {
        border-bottom: 3px solid #d6a348 !important;
    }
}
.report-content {
    text-align: center;
    a {
        color: #e0ba75;
        text-decoration: underline;
    }
}

.tables {
    display: grid;
    grid-template-columns: 30% 60%;
    // direction: rtl;
    justify-content: space-around;
}

.table_1 #title,
.table_2 #title {
    border-bottom: 1px solid #fd7a22;
    margin: 0;
    display: inline-block;
    font-weight: 600;
}
.table_2 #border_bottom,
.table_1 #border_bottom {
    border-bottom: 1px solid #fd7a22;
    margin: 10px;
}
.exceptionalEvents {
    display: flex;
    justify-content: space-around;
    font-family: "open sans hebrew";
    background: #f8f8f8 0% 0% no-repeat padding-box;
    padding: 5px;
    font-size: 14px/19px;
}
.border {
    border-bottom: 1px solid #707070;
    opacity: 0.23;
}
.rights table td {
    padding: 20px;
    direction: rtl;
}
.rights table > tr > td:last-of-type {
    padding: 0;
    width: 10px;
}
.rights table {
    width: 100%;
}
.destiny {
    padding: 10px;
    margin-right: 20px;
    direction: rtl;
    background: #fbfbfb 0% 0% no-repeat padding-box;
    span {
        margin-right: 50px;
    }
    svg-icon {
        margin-right: 50px;
        path#Icon_ionic-ios-arrow-down {
            fill: #e0ba75;
        }
    }
}
.destiny-content > table > tr > td {
    padding: 10px;
}

.destiny-content > table {
    border-collapse: collapse;
    width: 70%;
    margin: 10px 45px 0 0;
}
.destiny-content > table > tr:first-of-type {
    border-bottom: 1px solid #ffdfca;
}
.destiny-content > table > tr:first-of-type > th > span {
    border-bottom: 2px solid #fd7a22;
    margin: 5px;
}
.destiny-content > table td {
    font-weight: 500;
}
#bold-span{
    margin: 0;
    font-weight: 600;
}
#bold-font {
    font-weight: 600;
}
.more-info-result {
    display: flex;
    justify-content: flex-start;
    direction: rtl;
    font-weight: 500;
}
.more_info {
    padding: 10px;
    margin-right: 20px;
    background: #fbfbfb 0% 0% no-repeat padding-box;
    span {
        margin-right: 50px;
    }
    svg-icon {
        margin-right: 50px;
        path#Icon_ionic-ios-arrow-down {
            fill: #e0ba75;
        }
    }
}
.more_info_forms {
    margin-top: 20px;
}
.last_button {
    float: left;
    margin-left: 70px;
    padding: 20px;
}
.button-text:hover {
    cursor: pointer;
}

// part two of page
::ng-deep .mat-progress-spinner svg,
.mat-progress-spinner {
    width: 31px !important;
    height: 29px !important;
}
.mat-progress-spinner {
    display: inline-flex;
}
::ng-deep .mat-progress-spinner circle {
    fill: #8b69331a !important;
}
.first_line,
.second_line,
.third_line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    direction: rtl;
    font-weight: 600;
}

#first_span {
    display: inline-flex;
    padding: 10px;
    width: 140px;
    direction: rtl;
    border-left: 1px solid #8b69332c;
    & p {
        margin: 5px;
    }
}
#strong_orange {
    color: #ff6f2e;
    font-weight: 600;
}
::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #ff6f2e !important;
}
.first_line > p,
.second_line > p,
.third_line > p {
    flex-grow: 1;
}
.first_line > p:first-of-type,
.second_line > p:first-of-type,
.third_line > p:first-of-type {
    margin-right: 15px;
}
