@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");

$--green-color-bright: #37c563;
$education-primary: #e0ba75;

$colors: (
  primary: $education-primary,
);


@function color($color-name) {
  @return map-get($colors, $color-name);
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans hebrew", "Helvetica Neue", sans-serif !important;
  src: url('assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf') format("opentype");
  box-sizing: border-box;

}

.education {
  background-color: color(primary);
}

::ng-deep mat-grid-list,
mat-grid-tile {
  text-align: right;
  height: 100%;
  width: 100%;
}

mat-grid-tile {

  &.text>figure.mat-figure {
    display: flex;
    flex-direction: column;
  }
}

