.form-container {
  width: inherit;
  padding: 10px 0;
  box-sizing: border-box;
  padding: 16px;
  padding-top: 0px;
}

.form {
  width: 100%;
  
  .form-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

}

app-form-input {
  width: 100%
}

app-input-radio {
  width: 70%;
  height: 70%;
}
